<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width" />

  <!-- Favicon and title -->
  <link rel="icon" href="path/to/fav.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
  <title>YogiPw</title>

  <!-- Halfmoon CSS -->
  <link href="css/halfmoon-variables.min.css" rel="stylesheet" />
  <!--
            Or,
            Use the following (no variables, supports IE11):
            <link href="css/halfmoon.min.css" rel="stylesheet" />
          -->
</head>
<body>
  <!-- Page wrapper with navbar, sidebar, and navbar fixed bottom -->
  <div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-content">
        <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>

      <p class="navbar-brand ml-10 ml-sm-15">
        YogiPw
      </p>
      <div class="navbar-content ml-auto">
        <!-- Github button container 1 start -->
        <div class="pt-5 mr-5 d-none" id="gh-star-btn-container-1">
          <div class="hidden-dm">
            <a class="github-button" href="https://github.com/halfmoonui/halfmoon" data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star halfmoonui/halfmoon on GitHub">Star</a>
          </div>
          <div class="hidden-lm">
            <a class="github-button" href="https://github.com/halfmoonui/halfmoon" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star halfmoonui/halfmoon on GitHub">Star</a>
          </div>
        </div>
        <!-- Github button container 1 end -->

        <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()" aria-label="Toggle dark mode">
          <i class="fa fa-moon-o" aria-hidden="true"></i>
        </button>
      </nav>
      <!-- Sidebar -->

      <div class="sidebar">
        <div class="sidebar-menu">
          <!-- Sidebar links (with icons) and titles -->
          <h5 class="sidebar-title">Getting started</h5>
          <div class="sidebar-divider"></div>
          <a href="/" class="sidebar-link sidebar-link-with-icon">
            <span class="sidebar-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            Profile
          </a>
          <a href="#" class="sidebar-link sidebar-link-with-icon active">
            <span class="sidebar-icon">
              <i class="fa fa-book" aria-hidden="true"></i>
            </span>
            Dashboard
          </a>
          <br />
          <h5 class="sidebar-title">Gabut ?? coba cek dibawah ini<i class="fa fa-smile-o" aria-hidden="true"></i></h5>
          <div class="sidebar-divider"></div>
          <a href="/tictactoe" class="sidebar-link sidebar-link-with-icon">
            Tictactoe
          </a>
          <a href="/tebak-siapa" class="sidebar-link sidebar-link-with-icon">
            Tebak siapa
          </a>
         <a href="/purba" class="sidebar-link sidebar-link-with-icon">
            Bahasa purba
          </a>
          <a href="/ninjaname" class="sidebar-link sidebar-link-with-icon">
            Ninja name
          </a>
          <a href="/stress" class="sidebar-link sidebar-link-with-icon">
            Stress text
          </a>
          <br />
          <h5 class="sidebar-title">Tools</h5>
          <div class="sidebar-divider"></div>
          <a href="/kalkulator" class="sidebar-link sidebar-link-with-icon">
            Kalkulator
          </a>
          <a href="/formatter" class="sidebar-link sidebar-link-with-icon">
            Indo formatter
          </a>
        </div>
      </div>


      <!-- Content wrapper -->
      <div class="content-wrapper">

        <div class="card">
          <h2 class="card-title lg">
            Time now <i class="fa fa-clock-o"></i>
          </h2>
          <h3 class="mb-0"><span id="datetime"></span></h3>
          <h6 class="text-muted font-weight-normal">This time now</h6>
        </div>

        <div class="card">
          <h2 class="card-title lg">
            Your ip <i class="fa fa-wifi"></i>
          </h2>
          <h3 class="mb-0"><span id="gfg"></span></h3>
          <h6 class="text-muted font-weight-normal">Your ip address</h6>
        </div>
        <div class="card">
          <h2 class="card-title lg">
            Visitor <i class="fa fa-user-circle-o"></i>
          </h2>
          <h3 class="mb-0"><span id="visitor"></span></h3>
          <h6 class="text-muted font-weight-normal">Visitor this website</h6>
        </div>

      </div>
      <!-- Navbar fixed bottom -->
      <nav class="navbar navbar-fixed-bottom">

      </nav>
    </div>
  </div>
  <script>
    window.setTimeout("waktu()", 1000);

    function waktu() {
      var d = new Date();
      const jam = d.getHours();
      const menit = d.getMinutes();
      const detik = d.getSeconds();
      setTimeout("waktu()", 1000);
      document.getElementById("datetime").innerHTML = jam +":"+ menit +":"+ detik
    }
    $.getJSON("https://api.ipify.org?format=json",
      function (data) {
        $("#gfg").html(data.ip);
      })
    $.getJSON("https://api.countapi.xyz/hit/yogipewe/visits", function(data) {
      $("#visitor").text(data.value);
    });
  </script>
  <script src="js/halfmoon.min.js"></script>
</body>
</html>