<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width" />

  <!-- Favicon and title -->
  <link rel="icon" href="path/to/fav.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

  <title>YogiPw</title>

  <!-- Halfmoon CSS -->
  <link href="css/halfmoon-variables.min.css" rel="stylesheet" />
  <!--
              Or,
              Use the following (no variables, supports IE11):
              <link href="css/halfmoon.min.css" rel="stylesheet" />
            -->
</head>
<body>
  <!-- Page wrapper with navbar, sidebar, and navbar fixed bottom -->
  <div class="page-wrapper with-navbar with-sidebar ">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-content">
        <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <p class="navbar-brand ml-10 ml-sm-15">
        YogiPw
      </p>
      <div class="navbar-content ml-auto">

        <!-- Github button container 1 start -->
        <div class="pt-5 mr-5 d-none" id="gh-star-btn-container-1">
          <div class="hidden-dm">
            <a class="github-button" href="https://github.com/halfmoonui/halfmoon" data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star halfmoonui/halfmoon on GitHub">Star</a>
          </div>
          <div class="hidden-lm">
            <a class="github-button" href="https://github.com/halfmoonui/halfmoon" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star halfmoonui/halfmoon on GitHub">Star</a>
          </div>
        </div>
        <!-- Github button container 1 end -->

        <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()" aria-label="Toggle dark mode">
          <i class="fas fa-moon"></i>
        </button>

      </nav>
      <!-- Sidebar -->

      <div class="sidebar">
        <div class="sidebar-menu">

          <!-- Sidebar links (with icons) and titles -->
          <h5 class="sidebar-title">Getting started</h5>
          <div class="sidebar-divider"></div>
          <a href="#" class="sidebar-link sidebar-link-with-icon active">
            <span class="sidebar-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            Profile
          </a>
          <a href="/dashboard" class="sidebar-link sidebar-link-with-icon ">
            <span class="sidebar-icon">
              <i class="fa fa-book" aria-hidden="true"></i>
            </span>
            Dashboard
          </a>
          <br />
          <h5 class="sidebar-title">Gabut ?? coba cek dibawah ini</h5>
          <div class="sidebar-divider"></div>
          <a href="/tictactoe" class="sidebar-link sidebar-link-with-icon">
            Tictactoe
          </a>
          <a href="/tebak-siapa" class="sidebar-link sidebar-link-with-icon">
            Tebak siapa
          </a>
          <a href="/purba" class="sidebar-link sidebar-link-with-icon">
            Bahasa purba
          </a>
          <a href="/ninjaname" class="sidebar-link sidebar-link-with-icon">
            Ninja name
          </a>
          <a href="/stress" class="sidebar-link sidebar-link-with-icon">
            Stress text
          </a>
          <br>
          <h5 class="sidebar-title">Tools</h5>
          <div class="sidebar-divider"></div>
          <a href="/kalkulator" class="sidebar-link sidebar-link-with-icon">
            Kalkulator
          </a>
          <a href="/formatter" class="sidebar-link sidebar-link-with-icon">
            Indo formatter
          </a>
          <a href="/canvas" class="sidebar-link sidebar-link-with-icon">
            Image manipulation(Canvas)
          </a>
        </div>
      </div>


      <!-- Content wrapper -->
      <div class="content-wrapper">
        <div class="card shadow text-center">

          <img src="https://i.imgflip.com/4m9grc.jpg" alt="yogipw" width="200"
          class="rounded-circle border">
          <h4>YogiPw <span class="fa fa-check-circle" style="color: #238AE6"></h4>
          </div>
          <div class="card shadow-lg">
            <ul>
              <li><i class="fas fa-map-marker-alt"></i> Kalimantan timur, Indonesia</li>
              <li><i class="fab fa-github"></i> <a href="https://github.com/yogipw">YogiPw</a></li>
              <li><i class="fas fa-globe"></i> <a href="https://me.yogipw.cf">me.yogipw.cf</a></li>
              <li><i class="fab fa-whatsapp"></i> <a href="https://wa.me/6283152753417">+62 831-5275-3417</a></li>
              <li><i class="fas fa-envelope"></i> yogipw@gmail.com</li>
            </ul>
          </div>
          <div class="card shadow-lg">
            <div class="card-title">Tech stack</div>
            <span class="badge badge-pill">javascript</span>
            <span class="badge badge-pill">html</span>
            <span class="badge badge-pill">css</span>
            <span class="badge badge-pill">phyton</span>
          </div>
          <div class="card shadow-lg">
            <h4 class="text-center font-weight-bold">My project</h4>
            <div class="text-right">
              <!-- text-right = text-align: right -->
              <a href="https://github.com/yogipw" class="btn">See all</a>
            </div>
          </div>
          <div id="repo-list" class="container">
            

            </div>
          </div>
        </div>
        
      </div>

      <!-- Requires halfmoon.js for toggling sidebar -->
      <script>
        $.ajax({
          url: 'https://api.github.com/users/yogipw/repos',
          type: 'get',
          dataType: 'json',
          success: function (result) {

            $.each(result, function (i, data) {
              $('#repo-list').append(`
                <div class="card shadow-lg">
              <i class="fas fa-folder"></i><a href="${data.svn_url}"class="card-title text-dark"> ${data.name}</a>
              <p class="text-muted">
                ${(data.description == null) ? "Tidak ada deskripsi": data.description}
              </p>
              <div class="d-flex">
                <p class="flex-row">
                  <i class="fas fa-code-branch"></i> ${data.forks_count}
                </p>
                  
                <p>
                </p>
                <p class="flex-row">
                  <i class="far fa-star"></i> ${data.stargazers_count}
                </p>
              </div>
                `);
            });

          }
        });
      </script>
      <!-- Halfmoon JS -->

      <script src="js/halfmoon.min.js"></script>
    </body>
  </html>